@font-face{
    font-family: 'Axis', sans-serif;
    src: url('../font/Montserrat-Light.ttf');
    src: url('../font/Montserrat-Regular.ttf');
    src: url('../font/Axis Extrabold.otf');
}
*{
    margin: 0;
    padding: 0;
    font-family: 'AXIS', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #111111;
}
li{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
.ativo{
    display: block !important;
}
.col-2{
    max-width: 16%;
    flex: 1 1 16%
}
.col-4{
    max-width: 33.3%;
    flex: 1 1 33.3%
}
.col-5{
    max-width: 42%;
    flex: 1 1 42%;
}
.col-6{
    max-width: 50%;
    flex: 1 1 50%;;
}
.col-7{
    max-width: 58%;
    flex: 1 1 58%;
}
.col-8{
    max-width: 66%;
    flex: 1 1 66%;
}
/* .header{
    position: absolute;
    top: 0;
    left: 0;
} */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
h1{
    color: #fff;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
/* .menu-hamburguer{
    background-color:#00B33E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
    z-index: 100;
} */
.svg{
    cursor: pointer;
}
.logo h1{
    margin-left: 10px;
    color: #FFD745;
}
.menu{
    background-color: #111111;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-image: url('../img/12023.png'); */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* transform: translate(-50%,-50%); */
    display: none;
    z-index: 1;
}
.list-menu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
    z-index: 1000000000000000000;
}
.list-menu a{
    color: #FFD745;
    font-size: 60px;
    display: block;
    margin-bottom: 60px;
}
.list-menu a:hover{
    color: darkgrey;
}
.close{
    position: absolute;
    z-index: 10000000;
    right: 150px;
    top: 50px;
}
.close button{
    background: none;
    border: none;
    color: #FFD745;
    font-size: 60px;
    cursor: pointer;
    font-weight: bold;
}
.close button:hover{
    color: darkgrey;
}
.title{
    font-size: 70px;
    margin: 350px auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;  
    color: #FFD745
}
.headline ul li{
    margin-bottom: 40px;
}
.sobre-title-container{
    margin-bottom: 185px;
}
.sobre h2{
    font-size: 60px;
    line-height: 80px;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFD745
}
.sobre .subtitulo{
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
    opacity: .8;
    text-align: right;
    font-weight: lighter;
}
.sobre-resumo img{
    width: 800px;
    border-radius: 20px;
    margin-right: 50px;
    max-width: calc(58% - 50px);
    /* box-shadow: 6px 6px 15px 0px rgba(0,0,0,.8); */
}
.sobre-resumo p{
    font-family: 'montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    margin-top: 50px;
    color: darkgrey;
}
.projetos{
    margin-top: 400px;
    position: relative;
    z-index: 100;
}
.projetos h2{
    font-size: 60px;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFD745
}
.conteudo{
    margin-top: 185px;
}
.projetos .subtitulo{
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
    opacity: .8;
    font-weight: lighter;
}
.numeros{
    position: relative;
    top: -100px;
    float: left;
}
.numeros-slide{
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    color: #fff;
}
.opacidade{
    opacity: .6;
}
.nome-projeto{
    display: block;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    margin-top: 15px;
}
.desc-projeto{
    margin-top: 150px;
    float: left;
}
.desc-projeto .titulo-projeto{
    font-family: 'montserrat', sans-serif;
    font-size: 48px;
    color: #FFD745;
    line-height: 60px;
}
.desc-projeto .tipo-projeto{
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
    opacity: 0.6;
}
.desc-projeto .button-projeto{
    z-index: 100;
    background: none;
    border: none;
    align-content: center;
    margin-left: 50px;
    color: #fff;
    position: relative;
    cursor: pointer;
    position: relative;
    top: -10px;
}
.img-projeto{
    float: left;
}
.img-projeto img{
    border-radius: 20px;
    margin-right: 50px;
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,.8);
}
.svg-seta{
    position: relative;
    top: 15px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    z-index: 100;
    
}
.footer{
    margin-top: 400px;
}
.footer h2{
    font-size: 60px;
    line-height: 80px;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFD745
}
.footer .subtitulo{
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    line-height: 35px;
    color: darkgrey;
    opacity: .8;
    font-weight: lighter;
    text-align: right;
}
.footer-title-container{
    margin-bottom: 280px;
}
.contatos .endereco{
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    line-height: 35px;
    color: darkgrey;
    width: 250px;
    margin-bottom: 50px;
}
.contatos .email a{
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: darkgrey;
    position: relative;
    z-index: 100;
}
.contatos .email a:hover{
    opacity: .8;
}
.menu-footer{
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    line-height: 70px;  
    position: relative;
    z-index: 100;
}
.menu-footer a{
    color: darkgrey;
}
.menu-footer a:hover{
    opacity: .8;
}
.footer-flex{
    align-items: baseline !important;
}
.copyright{
    margin-bottom: 60px;
}
.copy{
    color: darkgrey;
    margin-top: 315px;
}
.top{
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    opacity: .8;
    display: none;
    z-index: 100;
}
.top::after{
    content: '>';
    display: block;
    transform: rotate(270deg);
    font-size: 24px;
    text-align: center;
    margin-right: 3px;
    line-height: 40px;
    color: #000;
}
.active{
    display: block;
}
.slide{
    position: relative;
}
.slick-next{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    color: #fff;
}
.slick-prev{
    position: absolute;
    right: 70px;
    bottom: -16px;
    background: none;
    border: none;
    color: #fff;
}
[data-anime]{
    opacity: 0;
    transition: .3s;
}
[data-anime].animate{
    opacity: 1;
}
@media(max-width: 1190px){
    .title{
        margin: 210px 0;
    }
    .headline ul{
        display: flex;
        position: absolute;
        top: 220px;
        left: 37%;
    }
    .headline ul li{
        margin-bottom: 0px;
        margin-right: 20px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 300px;
    }
    .header{
        margin-bottom: 80px;
    }
    .title{
        font-size: 24px;
        margin: 50px auto;
    }
    .headline ul{
        display: flex;
        position: absolute;
        top: 220px;
        left: 37%;
    }
    .headline ul li{
        margin-bottom: 0px;
        margin-right: 20px;
    }
    
    .sobre-resumo img{
        width: 100%;
        max-width: none;
        margin-right: 0px;
    }
    .sobre-resumo p{
        font-size: 22px;
        line-height: 35px;
    }
    .desc-projeto{
        margin-top: 0px;
    }
    .desc-projeto .button-projeto{
        margin-top: 0px;
        position: relative;
        top: 260px;
    }
    .numeros {
        top: -40px;
    }
    .svg-seta{
        top: 285px;
    }
    .sobre h2{
        font-size: 41px;
        line-height: 60px;
    }
    .projetos h2{
        font-size: 41px;
        line-height: 60px
    }
    .footer h2{
        font-size: 41px;
        line-height: 60px;
    }
    .close{
        right: 20px;
        top: 5px;
    }
    .close button{
        font-size: 41px;
    }
    .list-menu{
        top: 45%;
    }
    .list-menu a{
        font-size: 41px;
    }
    .col-2{
        max-width: 100%;
        flex: 1 1 100%
    }
    .col-4{
        max-width: 100%;
        flex: 1 1 100%
    }
    .col-5{
        max-width: 100%;
        flex: 1 1 100%;
    }
    .col-6{
        max-width: 100%;
        flex: 1 1 100%;;
    }
    .col-7{
        max-width: 100%;
        flex: 1 1 100%;
    }
    .col-8{
        max-width: 100%;
        flex: 1 1 100%;
    }
}